[Unit]
Description=Docker Application Container Engine
Documentation=https://docs.docker.com
After=flanneld.service network.target docker.socket
Requires=flanneld.service docker.socket

[Service]
Type=notify
MountFlags=slave
EnvironmentFile=/run/flannel/subnet.env
ExecStartPre=-/sbin/ip link del docker0
ExecStart=/usr/bin/docker daemon --host=fd:// --bip=${FLANNEL_SUBNET} --mtu=${FLANNEL_MTU}
LimitNOFILE=1048576
LimitNPROC=1048576
LimitCORE=infinity

[Install]
WantedBy=multi-user.target
