[Unit]
Description=Analyzes resource usage and performance characteristics of running containers
Documentation=https://github.com/google/cadvisor
Requires=etcd.service
Requires=flanneld.service
Requires=docker.service
After=etcd.service
After=flanneld.service
After=docker.service

[Service]
TimeoutStartSec=0
Restart=always
RestartSec=10
EnvironmentFile=/etc/environment
KillMode=none
RemainAfterExit=yes

ExecStartPre=-/usr/bin/docker kill cadvisor
ExecStartPre=-/usr/bin/docker rm cadvisor
ExecStartPre=-/usr/bin/docker pull google/cadvisor
ExecStart=/usr/bin/docker run \
  --volume=/:/rootfs:ro \
  --volume=/var/run:/var/run:rw \
  --volume=/sys:/sys:ro \
  --volume=/var/lib/docker/:/var/lib/docker:ro \
  --publish=%i:8080 \
  --detach=true \
  --name=cadvisor \
  google/cadvisor
ExecStop=/usr/bin/docker stop cadvisor

[Install]
WantedBy=multi-user.target