[Unit]
Description=Kubernetes Controller Manager
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=kube-apiserver.service
After=kube-apiserver.service

[Service]
Restart=always
RestartSec=10

# Download and install binary file
ExecStartPre=-/usr/bin/mkdir -p /opt/bin
ExecStartPre=/usr/bin/wget -N -P /opt/bin https://s3.amazonaws.com/org.mxabierto/kubernetes/kube-controller-manager
ExecStartPre=/usr/bin/chmod +x /opt/bin/kube-controller-manager
ExecStart=/opt/bin/kube-controller-manager \
  --machines=127.0.0.1 \
  --master=127.0.0.1:8080 \
  --port=10252 \
  --logtostderr=true

[Install]
WantedBy=multi-user.target