[Unit]
Description=Kubernetes Kubelet
Documentation=https://github.com/GoogleCloudPlatform/kubernetes
Requires=etcd.service
Requires=docker.service
After=etcd.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
Restart=always
RestartSec=10

# Download and install binary file
ExecStartPre=-/usr/bin/mkdir -p /opt/bin
ExecStartPre=/usr/bin/wget -N -P /opt/bin https://s3.amazonaws.com/org.mxabierto/kubernetes/kubelet
ExecStartPre=/usr/bin/chmod +x /opt/bin/kubelet
ExecStart=/opt/bin/kubelet \
  --address=${COREOS_PRIVATE_IPV4} \
  --port=10250 \
  --hostname_override=${COREOS_PRIVATE_IPV4} \
  --api_servers=127.0.0.1:8080 \
  --healthz_bind_address=${COREOS_PRIVATE_IPV4} \
  --healthz_port=10248 \
  --logtostderr=true

[Install]
WantedBy=multi-user.target